<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Sistema de Gerenciamento Interno</title>
    <base href="/"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <style>
    *, ::before, ::after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    html {
      height: 100%;
    }

    body {
      background: #FFF;
      height: 100%;
      font-family: 'Roboto', sans-serif;
      margin: 0;
    }
  </style>
</head>
<body>

<table width="580" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: #F2F2F2;width: 100%;">
    <tbody>
    <tr>
        <td align="center" height="60px" style="padding-top:30px;">
            <h1 th:text="|${name}|" style="font-size:25px;">Bem vindo, {name}!</h1>
        </td>
    </tr>
    <tr>
        <td style="padding-bottom:25px;">
            <table width="440" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                <tr>
                    <td align="center" style="padding-bottom:0px;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:bold;color:#2F3648;">
                        <p>Você cadastrou a empresa:</p>
                        <p style="background-color:yellow;width:min-content;padding:10px" th:text="|${companyName}|">{companyName}</p>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="font-family:Helvetica,Arial,sans-serif;font-weight:bold;color:#2F3648;">
                        <p style="font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:bold;color:#2F3648;">
                            Seu usuário é: <span style="color:red;" th:text="|${username}|">{username}</span>
                        </p>
                        <p style="font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:bold;color:#2F3648;">
                            Sua senha de acesso é: <span style="color:red;" th:text="|${password}|">{password}</span>
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>